:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Ubuntu, Arial, sans-serif;
}

.main-content {
    flex: 1;
}