<div class="vehicles-container">
    <main class="main-content">
        <div class="table-container">
            <h3>Vehiculos registrados</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Patente</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>KNQ123</td>
                        <td>Tector</td>
                        <td>Iveco</td>
                        <td>Activo</td>
                    <tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>ABC123</td>
                        <td>1732</td>
                        <td>Ford</td>
                        <td>Inactivo</td>
                    <tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>AKC542</td>
                        <td>113H</td>
                        <td>Scania</td>
                        <td>Activo</td>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>