<div class="drivers-container">
    <main class="main-content">
        <div class="table-container">
            <h3>Choferes registrados</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Javier</td>
                        <td>Rodriguez</td>
                        <td>123145</td>
                        <td>Activo</td>
                    <tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Maria</td>
                        <td>Gonzalez</td>
                        <td>678910</td>
                        <td>Inactivo</td>
                    <tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Carlos</td>
                        <td>Lopez</td>
                        <td>112233</td>
                        <td>Activo</td>
                    <tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Ana</td>
                        <td>Martinez</td>
                        <td>445566</td>
                        <td>Activo</td>
                    <tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Luis</td>
                        <td>Fernandez</td>
                        <td>778899</td>
                        <td>Inactivo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>