<div class="trips-container">
    <main class="main-content">
        <div class="table-container">
            <h3>Viajes registrados</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Conductor</th>
                        <th scope="col">Vehiculo</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Tarifa</th>
                        <th scope="col">Factura</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>11/2/26</td>
                        <td>Javier Rodriguez</td>
                        <td>KNQ-123</td>
                        <td>Origen 1</td>
                        <td>Destino 1</td>
                        <td>$1,130,000</td>
                        <td>112387123872</td>
                    <tr>
                        <th scope="row">2</th>
                        <td>15/3/26</td>
                        <td>Horacio Mat</td>
                        <td>ABC-456</td>
                        <td>Centro Comercial</td>
                        <td>Aeropuerto</td>
                        <td>$850,000</td>
                        <td>112387123873</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>20/3/26</td>
                        <td>Ricardo Martin</td>
                        <td>XYZ-789</td>
                        <td>Universidad</td>
                        <td>Zona Rosa</td>
                        <td>$650,000</td>
                        <td>112387123874</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>11/2/26</td>
                        <td>Alejandro Lucas</td>
                        <td>KNQ-123</td>
                        <td>Origen 1</td>
                        <td>Destino 1</td>
                        <td>$1,130,000</td>
                        <td>112387123872</td>
                    <tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>11/2/26</td>
                        <td>Lucas Miguel</td>
                        <td>KNQ-123</td>
                        <td>Origen 1</td>
                        <td>Destino 1</td>
                        <td>$1,130,000</td>
                        <td>112387123872</td>
                    <tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>11/2/26</td>
                        <td>Chofer</td>
                        <td>KNQ-123</td>
                        <td>Origen 1</td>
                        <td>Destino 1</td>
                        <td>$1,130,000</td>
                        <td>112387123872</td>
                    <tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>11/2/26</td>
                        <td>Chofer</td>
                        <td>KNQ-123</td>
                        <td>Origen 1</td>
                        <td>Destino 1</td>
                        <td>$1,130,000</td>
                        <td>112387123872</td>
                    <tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>11/2/26</td>
                        <td>Chofer</td>
                        <td>KNQ-123</td>
                        <td>Origen 1</td>
                        <td>Destino 1</td>
                        <td>$1,130,000</td>
                        <td>112387123872</td>
                    <tr>
                </tbody>
            </table>
        </div>
    </main>
</div>